.avatar-picker-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 10px;
}


.avatar-picker-container .avatar {
    margin-bottom: 15px;
    width: 70px;
    height: 70px;
    background: transparent;
    border-radius: 50%;;
}

.avatar-picker-container .avatar img {
    width: 80%;
    height: 80%;
    padding: 7px;
}

.avatar-picker-container .avatar.selected {
    background: #ff995e;
}