.avatar-picker-container {
    display: flex;
}

.avatar {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}
.avatar:hover {
    transform: translateY(-10px)
}
.avatar-label {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 1.25rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.0075em;
    text-align: center;
}
.avatar img {
    width: 100%;
    height: 100%;
}