.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.layoutContainer {
  width: "auto";
  max-height: 100vh;
}

.guessBox {
  width: 100%;
  margin-right: 30px;
}
.canvasContainer {
  border-radius: 25px;
  border: 2px solid #21ad4b;
  margin: 10px;
  position: relative;
  width: 800px;
  height: 533px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.inputContainer {
  width: 800px;
  padding-right: 35px;
  padding-left: 20px;
}

.playersIcon {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 100;
  padding: inherit;
  font-size: 50px;
  color: cornflowerblue;
}

.keyboardContainer {
  display: flex;
  justify-content: space-around;
  padding: 20px 35px 20px 20px;
}

