html {
  --primaryColor: #D28152;
  --secondaryColor: #DCB26B;
  --backgroundColor: #EDEBE9;
  --linksColor: #70B5E0;
  --buttonColor: linear-gradient(to bottom, #d1e4f6 0%, #c5d8e9 100%);
}

body {
  background-color: var(--backgroundColor);

  /* Disables pull-to-refresh but allows overscroll glow effects. */
  overscroll-behavior-y: contain;
}
