.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.layoutContainer {
  width: "auto";
  max-height: 100vh;
}

.guessBox {
  width: 100%;
  margin-right: 30px;
}

.canvasContainer {
  border-radius: 25px;
  border: 2px solid #21ad4b;
  position: relative;
  width: 65vh;
  height: 65vh;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto;
}

.inputContainer {
  width: 65vh;
  padding: 10px;
  margin: auto;
}

@media only screen and (max-width: 600px) {
  .canvasContainer {
    width: 90vw;
    height: 90vw;
  }

  .inputContainer {
    width: 90vw;
  }
}

.playersIconContainer {
  width: inherit;
  text-align: start;
}

.playersIconButton {
  position: absolute;
  margin-top: 20px;
  margin-left: 20px;
  z-index: 100;
}

.playersIcon {
  border-radius: 50%;
  background-color: cornflowerblue;
}

.keyboardContainer {
  display: flex;
  justify-content: space-around;
  padding: 20px 35px 20px 20px;
}

