.fadeText {
  -webkit-animation: fado 15s 1 forwards;
  -moz-animation: fado 15s 1 forwards;
  animation: fado 15s 1 forwards;


  &.msgBasic {
    font-size: x-large;
  }

  &.msgSystem {
    color: black;
  }

  &.msgSystemImp {
    color: red;
  }

  &.msgSystemGuess {
    color: blue;
  }

  &.msgUserGuess {
    color: blue;
  }

  &.msgSystemFoundWord {
    color: red;
  }

  &.msgSystemWinner {
    color:darkgreen;
  }
}

@keyframes fado {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fado {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes fado {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
