
.userScoreList {
  overflow: auto;
  max-height: 100%;
  margin-bottom: 30px;
  margin-top: 10px;
}

.userScoreListItem {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  min-width: 200px;
}

