.toolboxContainer {
  padding-top: 10px;
  .colorPickerContainer {
    margin-top: 20px;
    margin-bottom: 20px;
    .colorPicker {
      margin-left: auto !important;
      margin-right: auto !important;
    }
  }
}
