.colorPicker {
  margin: auto;
}

.toolboxContainer {
  padding-top: 10px;
  margin-right: 10%;
}

@media only screen and (max-width: 600px) {
  .toolboxContainer {
    padding-top: 10px;
    width: 90vw;
    margin: auto;
  }
}

